<a href="/search">
    <button class="btn-primary">Back</button>
</a><br><br>
<section class="search-display-container">
    <% if (data[0]["hostId"] != 'Nothing Found') { %>
        <% for (let i = 0; i < data.length; i++) {%>
            <article class="search-display-card">
                <a href="/home/info/<%= (i+1)%>"></a>
                    <img src="<%= data[i]["images"]%>">
                    <div class="search-display-desc">
                        <div>
                            <label>id </label>
                            <p>: <%= data[i]["hostId"]%></p>
                        </div>
                        <div>
                            <label>Nama </label>
                            <p>: <%= data[i]["hostName"]%></p>
                        </div>
                        <div>
                            <label>Rating </label>
                            <p>: <%= data[i]["rating"]%></p>
                        </div>
                    </div>
                </a>
            </article>
        <% } %>
    <% } else {%>
        <h2>Nothing Found</h2>
    <% } %>
</section>