<section class="info-container">
    <article class="info-data">
        <img src="<%= data[0]['images']%>" alt="">
        <div class="info-desc">
            <div>
                <label>Nama </label>
                <p>: <%= data[0]["hostName"]%></p>
            </div>
            <div>
                <label>Harga </label>
                <p>: <%= data[0]["price"]%></p>
            </div>
            <div>
                <label>Rating </label>
                <p>: <%= averageRating %></p>
            </div>
        </div>
    </article>
    <article class="info-comment">
        <h2>Apa Kata Mereka?</h2>
        <div class="container-review">
            <% for (let i = 0; i < review.length; i++) {%>
            <div class="review">
                <p><a href="/user/<%= review[i].username %>"><%= review[i].username %></a></review.username></p> <!--userName dari database dataUser-->
                <p>Rating : <%= review[i].rating %>/10</p> <!--rating dari database review-->
                <p><%= review[i].reviewText %></p> <!-- reviewText dan reviewDate dari database review-->
                <p><%= review[i].reviewDate.toLocaleDateString('en-US', { weekday: 'short', day: 'numeric', month: 'long', year: 'numeric' })%></p>
            </div>
            <% } %>
        </div>
    </article>
    <div class="user-comment">
        <div class="user-comment-title">
            <label>Yuk Bagikan Penilaianmu Terkait</label>
            <p> <%= data[0]["hostName"]%>!</p>
        </div>
        <!--Ini harusnya kirim datanya ke database -->
        <% if (locals.isLoggedIn) { %>
            <form action="/home/info/<%= data[0]["hostId"]%>" method="post">
                <label>Rating :</label>
                <select name="rating" id="rating">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
                <h4>Komentar : </h4>
                <textarea name="reviewText" id="reviewText" rows="6" placeholder="Write Message Here"></textarea>
                <button class="btn-primary" type="submit">Kirim</button>
            </form>
        <% } else { %>
            <p>Anda Harus Login Terlebih Dahulu untuk Membagikan Review!</p>
        <% } %>
        
    </div>
</section>